<footer class="container" style="margin-top: 100px;">
	<div class="text-center">
		<p>Copyright ©2016 Rails101
			<a href="http://courses.growthschool.com/courses/rails-101/" target=_new>
				Design by xdite
			</a>
		</p>
	</div>
</footer>